


        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div  class="page-wrapper">
            

                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="row page-titles">
                        <div class="col-md-5 col-8 align-self-center">
                            <h3 class="text-themecolor">Inicio</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                                <li class="breadcrumb-item active">Cuentas bancarias</li>
                            </ol>
                        </div>
                       
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <!-- Row -->
                    <div class="row">
                        <!-- Column -->
                        <div class="col-lg-8 col-md-7">
                            <div class="card">
                                <div class="card-block">
                                     <!--formulario aquiii-->
                                     <form class="form-horizontal form-material">
                        
                                            <div class="form-group">
                                                    <label class="col-md-12">Número de cuenta:</label>
                                                    <div class="col-md-12">
                                                        <input type="email" placeholder="" class="form-control form-control-line">
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Proveedor:</label>
                                                <div class="col-md-12">
                                                    <select class="form-control form-control-line">
                                                        <option>Seleccione...</option>
                                                        <option>Banco</option>
                                                        <option>Caja chica</option>
                                                        <option>Diesel</option>
                                                        <option>Mantenimiento</option>
                                                    </select>
                                                </div>
                                            </div>
                                       
                                            <div class="form-group">
                                                    <label class="col-md-12">Usuario:</label>
                                                    <div class="col-md-12">
                                                        <select class="form-control form-control-line">
                                                            <option>Seleccione...</option>
                                                            <option>holi</option>
                                                            
                                                        </select>
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">Registrar</button>
                                                </div>
                                            </div>
                                        </form>       
                                   
                      
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="card">
                                <div class="card-block">
                                    
                                             
                            
    
    
                                </div>
                                <div>
                                    <hr class="m-t-0 m-b-0">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                    
            </div>
    