


        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div  class="page-wrapper">
            

                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="row page-titles">
                        <div class="col-md-5 col-8 align-self-center">
                            <h3 class="text-themecolor">Inicio</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                                <li class="breadcrumb-item active">Gastos</li>
                            </ol>
                        </div>
                       
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <!-- Row -->
                    <div class="row">
                        <!-- Column -->
                        <div class="col-lg-8 col-md-7">
                            <div class="card">
                                <div class="card-block">
                                     <!--formulario aquiii-->
                                
                               <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">Descripción: </label>
                                        <div class="col-md-12">
                                            <textarea class="form-control form-control-line" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Cuenta bancaria:</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="form-control form-control-line" name="example-email" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Fecha de gasto:</label>
                                        <div class="col-md-12">
                                            <input type="date" value="" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Obra:</label>
                                        <div class="col-md-12">
                                            <select class="form-control form-control-line">
                                                <option>Seleccione..</option>
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Monto:</label>
                                        <div class="col-md-12">
                                            <input type="number" placeholder="" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-md-12">Fotografía:</label>
                                            <div class="col-sm-12">
                                                <p>Imagen tamaño 250px X 145px Máximo</p>
                                                <input name="imagen" type="file" size="35" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Registrar</button>
                                        </div>
                                    </div>
                                </form>
                      
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="card">
                                <div class="card-block">
                                    
                                             
                            
    
    
                                </div>
                                <div>
                                    <hr class="m-t-0 m-b-0">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                    
            </div>
    