<%- include('partials/header.ejs') %>

        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                    <%- include('partials/nav.ejs') %>

           
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">Cuentas Bancarias</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Cuenta Bancaria</li>
                        </ol>
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div ng-app="Cuentabancaria">
                <div ng-controller="Trabajo1">
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-8 col-md-7">
                  
                        <div class="card">
                            <div class="card-block">
                                 <!--modales aquui-->
                                 <div class="modal fade" id="modal-container-221606" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myModalLabel">
                                                        Editar Cuenta Bancaria
                                                    </h5> 
                                                    <button id="cierramodal" type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label class="col-md-12">Número de cuenta: </label>
                                                        <div class="col-md-12">
                                                            <input type="text" placeholder="" ng-model="noCuentaEdit" class="form-control form-control-line">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="col-md-12">Banco:</label>
                                                            <div class="col-md-12">
                                                                <select ng-model="bancoEdit" class="form-control form-control-line">
                                                                    <option value="">Seleccione...</option>
                                                                    <option value="Banamex">Banamex</option>
                                                                    <option value="Bancomer">Bancomer</option>
                                                                    <option value="Santander">Santander</option>
                                                                    <option value="Scotiabank">Scotiabank</option>
                                                                    <option value="HSBC">HSBC</option>
                                                                    <option value="Banorte">Banorte</option>
                                                                    <option value="Banco Azteca">Banco Azteca</option>
                                                                    <option value="Inbursa">Inbursa</option>
                        
                        
                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                   
                                                </div>
                                                <div class="modal-footer">
                                                     <div class="alert alert-danger"  ng-if="errorEdicion">
                                                         {{errorEdicion}}
                                                    </div>
                                                    <button type="button" ng-click="confirma_edicioncb()" class="btn btn-primary">
                                                        Editar
                                                    </button> 
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
            
            
                                    <!--OTra modal eliminar-->
            
                                    <div class="modal fade" id="modal-container-221607" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel">
                                                            Confirmación 
                                                        </h5> 
                                                        <button id="cierramodal" type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                         <p>¿Estás seguro de eliminar?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                         <div class="alert alert-danger"  ng-if="errorBorrar">
                                                             {{errorBorrar}}
                                                        </div>
                                                        <button type="button" ng-click="confirma_delete()" class="btn btn-primary">
                                                            Continuar
                                                        </button> 
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                <!--todo logic code here-->
                               <!--formulario aquiii-->

                               <form class="form-horizontal form-material">
                        
                                <div class="form-group">
                                        <label class="col-md-12">Número de cuenta:</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" ng-model="noCuenta" class="form-control form-control-line">
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label class="col-md-12">Banco:</label>
                                    <div class="col-md-12">
                                        <select ng-model="banco" class="form-control form-control-line">
                                            <option value="">Seleccione...</option>
                                            <option value="Banamex">Banamex</option>
                                            <option value="Bancomer">Bancomer</option>
                                            <option value="Santander">Santander</option>
                                            <option value="Scotiabank">Scotiabank</option>
                                            <option value="HSBC">HSBC</option>
                                            <option value="Banorte">Banorte</option>
                                            <option value="Banco Azteca">Banco Azteca</option>
                                            <option value="Inbursa">Inbursa</option>



                                        </select>
                                    </div>
                                </div>
                           
                                <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success" ng-click="Regcuentabancaria()">Registrar</button>
                                        </div>
                                    </div>
                                <div class="alert alert-danger" ng-if="ErrorRegistrocuentabancaria">
                                    <b>Registre todos los datos </b> 
                                </div>
                                <div class="alert alert-success" ng-if="RegistroExitoso">
                                    <b>{{RegistroExitoso.message}}</b>
                                    
                                    </div> 
                            </form>




                                
                            </div>
                        </div>
                    </div>
                </div><!--una row-->

                <div class="row">
                  <!--aqui vamos a consultar las ctas bancarias-->
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="card-block">
                            <!--tablita para consultar-->
                            <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr >
                                            <th>#</th>
                                            <th>No Cuenta</th>
                                            <th>Banco</th>
                            
                                            <th>Editar</th>
                                            <th>Eliminar</th>
            
            
            
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="cuentabancaria in cb_consulta">
                                            <td> {{$index+1}}</td>
                                            <td>{{cuentabancaria.noCuenta}}</td>
                                            <td>{{cuentabancaria.banco}}</td>
            
                                           
                                            <td><button class="btn btn-warning mdi mdi-settings" href="#modal-container-221606" ng-click="mostrarEdicion([cuentabancaria._id])"  data-toggle="modal"> Editar</button></td>
                                            <td><button class="btn btn-danger mdi mdi-close" href="#modal-container-221607" ng-click="mostrarEliminar([cuentabancaria._id])"  data-toggle="modal"> Eliminar</button></td>
            
            
                                          </tr>
                                        </tbody>
                                      </table>
                            
                                    </div>


                            </div>
                            <div>
                                <hr class="m-t-0 m-b-0">
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
                <!-- Row -->
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2018 Corporativo GREMILSA </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/js/cuentabancaria.js"></script>

    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/assets/plugins/d3/d3.min.js"></script>
    <script src="/assets/plugins/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="/js/dashboard1.js"></script>
    </body>

    </html>