<%- include('partials/header.ejs') %>


        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                    <%- include('partials/nav.ejs') %>

           
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">Obras</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Obras</li>
                        </ol>
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="">
                    <!-- Column -->
                    <div class="">
                            <div ng-app="Obras">
                                <div ng-controller="Trabajo1">
                                <div class="card">
                                        <div class="card-block">
                                      <!--modales-->
                                      <div class="modal fade" id="modal-container-221606" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myModalLabel">
                                                        Editar Obras
                                                    </h5> 
                                                    <button id="cierramodal" type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <form class="form-horizontal form-material">
                    
                                <div class="form-group">
                                    <label class="col-md-12">Nombre de la obra: </label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" ng-model="nombreEdit" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Precio de contrato:</label>
                                    <div class="col-md-12">
                                        <input type="number" placeholder="" ng-model="precio_contratoEdit" class="form-control form-control-line" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Fecha de inicio:</label>
                                    <div class="col-md-12">
                                        <input type="date" value="" ng-model="fecha_inicioEdit" class="form-control form-control-line">
                                    </div>
                                    </div>
                                <div class="form-group">
                                    <label class="col-md-12">Fecha límite:</label>
                                    <div class="col-md-12">
                                            <input type="date" ng-model="fecha_limiteEdit" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Porcentaje de anticipo:</label>
                                    <div class="col-md-12">
                                            <input type="number" ng-model="porcentaje_anticipoEdit" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Dirección:</label>
                                    <div class="col-md-12">
                                            <input type="text" ng-model="direccionEdit" class="form-control form-control-line">
                                    </div>
                                
                                
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Administrador de obra:</label>
                                    <div class="col-md-12">
                                        <select class="form-control form-control-line" ng-model="idUsuarioEdit">
                                            
                                            <option value="5b180db27fa75027748d4acb">1</option>
                                            <option value="5b180db27fa75027748d4acb">2</option>

                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Anticipo pagado:</label>
                                    <div class="col-md-12">
                                        <input type="radio" ng-model="anticipoPagadoEdit" value="true"> Sí<br>
                                        <input type="radio" ng-model="anticipoPagadoEdit" value="false"> No                                        </div>
                                </div>
                                               
                                            
                                                <div class="modal-footer">
                                                     <div class="alert alert-danger"  ng-if="errorEdicion">
                                                         {{errorEdicion}}
                                                    </div>
                                                    <button type="button" ng-click="confirma_edicion()" class="btn btn-primary">
                                                        Editar
                                                    </button> 
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </form>
                                            </div>
                                      
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                               
            
            
                                    <!--OTra modal eliminar-->
            
                                    <div class="modal fade" id="modal-container-221607" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel">
                                                            Confirmación 
                                                        </h5> 
                                                        <button id="cierramodal" type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                         <p>¿Estás seguro de eliminar?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                         <div class="alert alert-danger"  ng-if="errorBorrar">
                                                             {{errorBorrar}}
                                                        </div>
                                                        <button type="button" ng-click="confirma_delete()" class="btn btn-primary">
                                                            Continuar
                                                        </button> 
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>

<!--
                                                        <div class="form-group">
                                                                <label class="col-md-12">Importar excel: </label>
                                                                <div class="col-md-12">
                                                                    <input type="file" name="file" accept="*.csv" class="form-control form-control-line">
                                                                </div>
                                                            </div>
                                                        <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <button class="btn btn-success" id="importdata" ng-click="importExcel()">Importar Excel</button>
                                                                <p id="message"></p>
                                                                </div>
                                                            </div>
                                                            -->
                                            
                                <div class="form-group">
                                        <label class="col-md-12">Nombre de la obra: </label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" ng-model="nombre" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Precio de contrato:</label>
                                        <div class="col-md-12">
                                            <input type="number" placeholder="" ng-model="precio_contrato" class="form-control form-control-line" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Fecha de inicio:</label>
                                        <div class="col-md-12">
                                            <input type="date" value="" ng-model="fecha_inicio" class="form-control form-control-line">
                                        </div>
                                        </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Fecha límite:</label>
                                        <div class="col-md-12">
                                                <input type="date" ng-model="fecha_limite" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Porcentaje de anticipo:</label>
                                        <div class="col-md-12">
                                                <input type="number" placeholder="%" ng-model="porcentaje_anticipo" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Dirección:</label>
                                        <div class="col-md-12">
                                                <input type="text" ng-model="direccion" class="form-control form-control-line">
                                        </div>
                                    
                                    
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Administrador de obra:</label>
                                        <div class="col-md-12">
                                            <select class="form-control form-control-line" ng-model="idUsuario">
                                                
                                                <option value="5b180db27fa75027748d4acb">1</option>
                                                <option value="5b180db27fa75027748d4acb">2</option>

                                               
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Anticipo pagado:</label>
                                        <div class="col-md-12">
                                            <input type="radio" ng-model="anticipoPagado" value="true"> Sí<br>
                                            <input type="radio" ng-model="anticipoPagado" value="false"> No                                        </div>
                                    </div>
                                
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success" ng-click="Regobra()">Registrar</button>
                                        </div>
                                    </div>
                                <div class="alert alert-danger" ng-if="ErrorRegistroobra">
                                    <b>Registre todos los datos </b> 
                                </div>
                                <div class="alert alert-success" ng-if="RegistroExitoso">
                                    <b>{{RegistroExitoso.message}}</b>
                                    
                                    </div> 
                                
                                </div>
                           
                                      
                      

                                            <!--Tablita de obras-->
                                            <div class="card">
                                                    <div class="card-block">
                                            
                     <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr >
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Precio de contrato</th>
                                    <th>Fecha de inicio</th>
                                    <th>Fecha límite</th>
                                    <th>% Anticipo</th>
                   
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                    <th>Caja Chica</th>
                                    <th>Diesel</th>
    
    
    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="obras in obras_consulta">
                                    <td> {{$index+1}}</td>
                                    <td><a title="Ver más..." href="/api/obra-detalle/{{obras._id}}">{{obras.nombre}}</a></td>
                                    <td>{{obras.precio_contrato | currency}}</td>
                                    <td>{{obras.fecha_inicio | date : format : timezone}}</td>
                                    <td>{{obras.fecha_limite | date : format : timezone}}</td>
                                    <td>{{obras.porcentaje_anticipo}} %</td>

    
                                   
                                    <td><button class="btn btn-warning mdi mdi-settings" href="#modal-container-221606" ng-click="mostrarEdicion([obras._id])"  data-toggle="modal"> Editar</button></td>
                                    <td><button class="btn btn-danger mdi mdi-close" href="#modal-container-221607" ng-click="mostrarEliminar([obras._id])"  data-toggle="modal"> Eliminar</button></td>
                                    <td><a href="">Ver</a></td>
                                    <td><a href="">Ver</a></td>
    
                                  </tr>
                                </tbody>
                              </table>
                    
                            </div>
                        </div>
                    </div>

















                                        </div>
                                   
                                </div>
                            </div>
                                   
                        </div>
                    </div>
                                   
                </div>  



                     
                          
                    </div>
                </div>
            </div>
            <!--
                    <div class="col-lg-4 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                



                            </div>
                            <div>
                                <hr class="m-t-0 m-b-0">
                            </div>
                            
                        </div>
                    </div>
                </div>
                -->
                <!-- Row -->
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2018 Corporativo GREMILSA  </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/js/obras.js"></script>

    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/assets/plugins/d3/d3.min.js"></script>
    <script src="/assets/plugins/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="/js/dashboard1.js"></script>
    </body>

    </html>